@media(max-width: 1200px){
	.main__wrapper{
		.heading,
		.subheading{
			padding: 0 15px;
		}

		.inner__wrapper{
			&-right{
				padding-right: 15px;
			    padding-left: 50px;
			}

			&-left{
				padding-left: 15px;
			}
		}
	}
}

@media(max-width: 991px){
	.main__wrapper{
		.inner__wrapper{
			&-right,
			&-left{
				width: 100%;
				float: none;
				padding: 0 15px;

				.clientsheading{
					margin-top: 30px;
					text-align: center;
				}
			}
		}
	}

	.clients__review{
		&-single{
		    max-width: 450px;
		    margin: auto;
		}
	}
}